:root{
    --color1: #343433;
    --color2: #171717;
    --color-font: #E8E8E8;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: var(--color1);
    color: var(--color-font);
}
/* corpo do proojeto */

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 20%;
    background-color: var(--color1);
    color: white;
    padding: 20px;
}
/* menu lateral */

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.main-content {
    display: flex;
    width: 80%;
    padding: 20px;
}

.column {
    width: 33.33%;
    padding: 10px;
    background-color: #ecf0f1;
    margin: 0 10px;
    border-radius: 10px;
}

.column h2 {
    text-align: center;
}

.to-do {
    background-color: var(--color2);
}

.in-progress {
    background-color: var(--color2);
}

.done {
    background-color: var(--color2);
}